type {{pascalCase name}}Props = {
  children?: React.ReactNode;
};

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = _p => {
  return (
    <div>
      <p>{{setenceCase name}} works.</p>
      {_p.children}
    </div>
  );
};
