import React from 'react';

type {{pascalCase name}}Props = {
  title: string;
  children?: React.ReactNode;
};

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = React.forwardRef<HTMLDivElement, {{pascalCase name}}Props>((_p, ref) => {
  return (
    <div ref={ref}>
      <p>{_p.title}</p>
      {_p.children}
    </div>
  );
});
